<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hatim: Basics Spring Boot Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1>Input Form</h1>
<form action="#" th:action="@{/detail}" th:object="${inputObject}" name="input" method="POST">
	First Name : <input type="text" th:field="*{firstName}"/><br/>
	Last Name : <input type="text"  th:field="*{lastName}"/><br/>
	<input type="submit" /><input type="reset" value="Reset" />
</form>

</body>
</html>